@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansDynamic.ttf") format("opentype");
}

$font-family-base: "OpenSans";

$FONTCOLOR: #4e4e4e;

html {
  overflow-x: hidden;
}
body {
  font-family: "OpenSans";
}

.main-content {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles: */

.button-basic {
  text-align: center;
  color: $FONTCOLOR;
  border-radius: 50px;
  background-color: #c6dde6;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.header-default {
  padding: 0px 0px;
  color: white;
}
.header-list {
  background-color: #414040;
  border: solid #959595;
  border-width: 0 0 8px 0;
}

li.header-item {
  display: inline;
  float: right;
  margin: 10px 10px;
}

.header-link {
  color: white;
  text-align: center;
  padding: 15px 35px;
  display: block;
  text-decoration: none;
  font-size: large;
  border-radius: 15px;
}

#header-logo {
  float: left;
}
#link-logo {
  font-weight: 900;
  font-size: x-large;
  padding: 10px;
  margin: 0px 15px;
}

.header-link:hover {
  background-color: #717171;
}

#upload-link {
  color: $FONTCOLOR;
  font-weight: 700;
}

#upload-link:hover {
  background-color: rgba(255, 255, 255, 0);
}

#upload-item {
  background-color: white;
  margin: 10px 20px;
  border-radius: 15px;
}

.basic-text {
  color: $FONTCOLOR;
}

.featured-site {
  background-color: #b3ccd7;
  width: 70vw;
  margin: auto;

  border-radius: 20px;
  margin-bottom: 5vh;
}
.featured-website {
  padding: 3vh 0vh 3vh 0vh;
  margin: 0;
}
.featured-caption {
  background-color: #c6dde6;
  border-radius: 0px 0px 20px 20px;
  padding: 1vh 0vh;
}
.nomarg {
  margin: 0;
}
.heavy-text {
  font-weight: 400;
  color: $FONTCOLOR;
}

.extramoves {
  position: absolute;
  right: -2vh;
  top: -2vh;
  background-color: #c6dde6;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-outer-circle {
  background-color: grey;
  text-align: center;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-inner-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-text {
  font-weight: 500;
  color: $FONTCOLOR;
  font-size: 1.3rem;
}
.featured-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.basic-image {
  padding: 5vh 0;
  width: 30vw;
}
html {
  overflow-x: hidden;
}

$CARDcardcolor: #b3ccd7;
$CARDborderwidth: 5px;
$CARDbordercolor: #c6dde6;
$CARDborderradius: 50px;

$CARDbtnhovercolor: #bfd5de;

#my-card-color {
  background-color: $CARDcardcolor;
  border-width: $CARDborderwidth;
  border-color: $CARDbordercolor;
  border-radius: $CARDborderradius;
  color: $FONTCOLOR;
}

#my-card-button {
  background-color: $CARDbordercolor;
  border-radius: $CARDborderradius;
  color: $FONTCOLOR;
  border: none;
}
#my-card-button:hover {
  background-color: $CARDbtnhovercolor;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
.coloredlogin {
  background-color: #b3ccd7;
  border-radius: 50px;
}

$inputfieldblue: #c6dde6;

#bluefield {
  background-color: $inputfieldblue;
  border-radius: 50px;
  color: $FONTCOLOR;
  @include placeholder {
    color: #919191;
    font-weight: bolder;
  }
  border: none;
}
#bluefield2 {
  background-color: $inputfieldblue;
  border-radius: 50px;
  color: $FONTCOLOR;
  @include placeholder {
    color: #919191;
    font-weight: bolder;
  }
  border: none;
}
#bluefieldbtn {
  background-color: $inputfieldblue;
  border-radius: 50px;
  color: $FONTCOLOR;
  border: #dae8ee solid 5px;
  font-weight: bolder;
}
#bluefieldbtn:hover {
  background-color: $CARDbtnhovercolor;
}

#white-placeholder {
  @include placeholder {
    color: #dbdbdb;
  }
}
.title-text {
  font-weight: 500;
  color: $FONTCOLOR;
}

#votingRange {
  writing-mode: vertical-lr;
  direction: rtl;

  width: 32px;
  border-radius: 50px;
  height: 55vh;
  margin: auto;
  -webkit-appearance: none;
  appearance: none;
  background-image: linear-gradient(hsl(100% 72% 80%), hsl(0% 72% 80%));
  border: grey 3px solid;
}
:root {
  --border-background: hsl(1 15% 43%);
  --slider-background: hsl(1 72% 70%);
}

#votingRange::-webkit-slider-thumb {
  appearance: none;
  width: 55px;
  height: 55px;
  background-color: var(--slider-background);
  border: var(--border-background) 3px solid;
  border-radius: 100%;

  cursor: pointer;
}
.voteText {
  text-align: center;
  color: grey;
  margin: auto;
}
#slidewrap {
  float: right;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#slidewrapm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#votingRangem {
  width: 100vw;
  border-radius: 50px;
  height: 32px;

  -webkit-appearance: none;
  appearance: none;
  background-image: linear-gradient(
    to left,
    hsl(100% 72% 80%),
    hsl(0% 72% 80%)
  );
  border: grey 3px solid;
  float: left;
}
#votingRangem::-webkit-slider-thumb {
  appearance: none;
  width: 55px;
  height: 55px;
  background-color: var(--slider-background);
  border: var(--border-background) 3px solid;
  border-radius: 100%;

  cursor: pointer;
}
$body-bg: #dae8ee;
@import "bootstrap";
